<div id="sub-nav" class="js-sidenav nav-container" role="navigation">
  <a class="sidenav-title" data-behavior="SubMenuMobile">
    Doc Index
  </a>

  <div class="nav-content">
    <ul class="menu">

      <li class="menu-item js-menu-item">
        <div class="menu-title js-menu-title">
          Pivotal Application Service (PAS) for Windows
        </div>
        <div class="menu-content js-menu-content" aria-hidden="true">
          <ul>
            <li>
              <a href="/pas-windows/index.html">Pivotal Application Service (PAS) for Windows</a>
            </li>
            <li>
              <a href="/pas-windows/architecture.html">Product Architecture</a>
            </li>
            <li>
              <a href="/pas-windows/release-notes.html">Release Notes</a>
            </li>
          </ul>
        </div>
      </li>

      <li class="menu-item js-menu-item">
        <div class="menu-title js-menu-title">
          PAS for Windows Operator Guide
        </div>
        <div class="menu-content js-menu-content" aria-hidden="true">
          <ul>
            <li>
              <a href="/pas-windows/installing.html">Installing and Configuring PAS for Windows</a>
            </li>
            <li>
              <a href="/pas-windows/managing.html">Managing PAS for Windows</a>
            </li>
            <li>
              <a href="/pas-windows/troubleshooting.html">Troubleshooting PAS for Windows</a>
            </li>

          </ul>
        </div>
      </li>

      <li class="menu-item js-menu-item">
        <div class="menu-title js-menu-title">
          Developer Guide
        </div>
        <div class="menu-content js-menu-content" aria-hidden="true">
          <ul>
            <li>
              <a href="/pas-windows/using.html">Using PAS for Windows</a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</div>
<!--end of sub-nav-->
