---
title: Deploying PCF Runtime for Windows 
owner: Greenhouse
---

<strong><%= modified_date %></strong>

This topic describes how to install and configure the Pivotal Cloud Foundry Runtime for Windows tile.

## <a id='reqs'></a> Requirements

To deploy the BOSH Release for Windows, you must have PCF 1.9.2 or later deployed to vSphere, Amazon Web Services (AWS) and Azure.

##<a id='install'></a> Step 1: Install the Tile

1. Download the product file from the **Pivotal Cloud Foundry Runtime for Windows** section of [Pivotal Network](https://network.pivotal.io/products/runtime-for-windows).

1. Navigate to the Ops Manager Installation Dashboard and click **Import a Product** to upload the product file. 

1. Click **+** under the uploaded **PCF Windows Runtime** tile to add it to your staging area.

##<a id='config'></a> Step 2: Configure and Deploy the Tile

1. Click the newly added **PCF Windows Runtime** tile.

    <%= image_tag('windows-tile.png') %>

1. Click **Stemcell**. Record the stemcell version number required by the tile. 

1. Retrieve the stemcell by following the steps below for your IaaS.
    * For vSphere, you must build your own stemcell. See the [Building a Windows Stemcell](build-stemcell.html) topic for more information..
    * For AWS and Azure, navigate to the **PCF Stemcells for Windows** section of [Pivotal Network](https://network.pivotal.io).

1. Click **Save**

1. Return to the Ops Manager Installation Dashboard and click **Apply Changes** to install the Pivotal Cloud Foundry Runtime for Windows tile.

