---
title: Pivotal Application Service (PAS) for Windows
owner: Windows
---

## <a id='overview'></a>Overview

Pivotal Application Service (PAS) for Windows enables operators to provision, operate, and manage Windows cells on Pivotal Cloud Foundry (PCF).

After operators install the PAS for Windows tile on the Ops Manager Installation Dashboard, developers can push .NET applications to Windows cells using the [Cloud Foundry Command Line Interface](https://docs.pivotal.io/pivotalcf/cf-cli/) (cf CLI).

For more information about how PAS for Windows works, see the [Product Architecture](architecture.html) topic.

For the PAS for Windows release notes, see the [Release Notes](release-notes.html) topic.

## <a id='reqs'></a> Requirements

To install the PAS for Windows tile, you must have:

* Ops Manager v2.0 or later and PAS v2.0 or later deployed to vSphere, Amazon Web Services (AWS), Google Cloud Platform (GCP), or Azure

* A windows stemcell, which you can obtain by following the directions in [Downloading or Creating Windows Stemcells](./stemcells.html).

The minimum resource requirement for each Windows cell is:

- Disk size: 64&nbsp;GB
- Memory: 16&nbsp;GB
- CPUs: 4

## <a id='contents'></a>Contents

### <a id='understand'></a>Understanding PAS for Windows ##

* <a href="architecture.html" class="subnav">Product Architecture</a>

* <a href="windows-security.html" class="subnav">Windows Stemcell Hardening</a>

### <a id='install'></a>Installation Guide

* <a href="stemcells.html" class="subnav">Downloading or Creating Windows Stemcells</a>

* <a href="installing.html" class="subnav">Installing and Configuring PAS for Windows</a>

### <a id='admin'></a>Admin Guide

* <a href="./upgrade-windows.html" class="subnav">Upgrading Windows Cells</a>

* <a href="./configure-kms.html" class="subnav">Configuring a KMS Host</a>

* <a href="./troubleshooting.html" class="subnav">Troubleshooting Windows Cells</a>

### <a id='dev'></a>Developer Guide

* <a href="using.html" class="subnav">Developing and Deploying .NET Apps</a>
