---
title: Upgrading Windows Cells 
owner: Greenhouse
---

<strong><%= modified_date %></strong>

This topic describes how to upgrade the PCF Runtime for Windows tile and update the Windows stemcell.

If you are currently using Windows cells deployed by the BOSH Release for Windows or Diego Windows, consult the list below:

* For customers who are using the BOSH Release for Windows, there is no migration path. To upgrade, you must destroy your deployment of Windows cells with the BOSH CLI and then perform a fresh install of the PCF Runtime for Windows tile.
* For customers who are using Diego Windows, follow the procedures in the <a href="msi-crossgrade.html">Migrating from Diego Windows</a> topic to migrate your applications to Windows cells deployed by the tile.

##<a id='upgrade-tile'></a> Upgrade PCF Runtime for Windows

The latest versions of your existing products will appear in the Ops Manager Installation Dashboard. Upgrade your product to the latest version by following these instructions.

1. Navigate to the Ops Manager Installation Dashboard.

1. Locate and download the product version you want to upgrade to by clicking on the green download icon on the left-hand side of the screen.

1. When the download is complete, click **Apply Changes**.

1. If necessary, configure the product. For more information on configuring PCF Runtime for Windows, see the [Deploying PCF Runtime for Windows](http://docs.pivotal.io/pivotalcf/windows/deploy-windows.html) topic.

1. Locate the **Pending Changes** section on the right-hand side of the screen and click **Apply Changes**.

##<a id='upgrade-stemcell'></a> Upgrade the Windows Stemcell

1. Navigate to the Ops Manager Installation Dashboard.

1. Retrieve the stemcell by following the steps below for your IaaS.
    * For vSphere, you must build your own stemcell. 
    * For AWS, navigate to the **Stemcells for PCF (Windows Server)** section of [Pivotal Network](https://network.pivotal.io/products/stemcells-windows-server).
    * For GCP and Azure, stemcells will be available soon on Pivotal Network.

1. Click the **PCF Runtime for Windows** tile. 

1. Within the **Settings** tab, click **Stemcell** on the left-hand navigation.

1. Click **Import Stemcell**.

1. Select the previously acquired stemcell and click **Open**.

1. Click **Installation Dashboard** to navigate back to the Ops Manager Installation Dashboard. 

1. Click **Apply Changes**.

##<a id='upgrade-apps'></a> Upgrade Windows Apps

If you have upgraded from PCF for Windows 1.9 to PCF for Windows 1.10 and have apps to upgrade from 1.9 to 1.10, there will be a momentary downtime of your apps unless you complete a [Blue-Green Deployment](https://docs.cloudfoundry.org/devguide/deploy-apps/blue-green.html). 

* If your .NET app was previously pushed with the binary\_buildback and you are relying on the <code>WebAppServer.exe</code> you must:

	* Push with the <code>hwc\_buildpack</code>

		<pre class="terminal">$ cf push APP-NAME -s windows2012R2 -b hwc_buildpack</pre>

		By passing `windows2012R2` with the `-s` flag, you instruct PCF to run the app in the Windows cell.
		If you are not pushing your app from its directory, add the `-p` flag to specify the path to the directory that contains the app. 

		An app with the <code>hwc\_buildpack</code> should not be pushed with the <code>-c</code> flag.

If you try to <code>cf restage</code>, your app will fail to restage because you cannot switch to the <code>hwc\_buildpack</code> via <code>cf restage</code>.

* If you have a binary app you must:

	* Push with the <code>-c</code> flag.

		<pre class="terminal">
		$ cf push APP-NAME -s windows2012R2 binary_buildpack -c PATH-TO-BINARY
		</pre>

	 	A .NET app with a <code>Web.config</code> does not have to specify the <code>-b</code> flag.

 Apps that need custom start commands and require the <code>WebAppServer.exe</code> should have their start commands updated to reflect the path to <code>hwc.exe</code>, which is provided by the HWC buildpack.

