---
title: Upgrading Windows Cells 
owner: Greenhouse
---

<strong><%= modified_date %></strong>

This topic describes how to upgrade the PCF Runtime for Windows tile and update the Windows stemcell.

If you are currently using Windows cells deployed by the BOSH Release for Windows or Diego Windows, consult the list below:

* For customers who are using the BOSH Release for Windows, there is no migration path. To upgrade, you must destroy your deployment of Windows cells with the BOSH CLI and then perform a fresh install of the PCF Runtime for Windows tile.
* For customers who are using Diego Windows, follow the procedures in the <a href="msi-crossgrade.html">Migrating from Diego Windows</a> topic to migrate your applications to Windows cells deployed by the tile.

##<a id='upgrade-tile'></a> Upgrade PCF Runtime for Windows

The latest versions of your existing products will appear in the Ops Manager Installation Dashboard. Upgrade your product to the latest version by following these instructions.

1. Navigate to the Ops Manager Installation Dashboard.

1. Locate and download the product version you want to upgrade to by clicking on the green download icon on the left-hand side of the screen.

1. When the download is complete, click **Apply Changes**.

1. If necessary, configure the product. For more information on configuring PCF Runtime for Windows, see the [Deploying PCF Runtime for Windows](http://docs.pivotal.io/pivotalcf/windows/deploy-windows.html) topic.

1. Locate the **Pending Changes** section on the right-hand side of the screen and click **Apply Changes**.

##<a id='upgrade-apps'></a> Upgrade Windows Apps

If you have upgraded from PCF for Windows 1.9 to PCF for Windows 1.10 and have apps to upgrade from 1.9 to 1.10, there will be a momentary downtime of your apps unless you complete a [Blue-Green Deployment](https://docs.cloudfoundry.org/devguide/deploy-apps/blue-green.html). 

If you are upgrading a .NET app with a <code>Web.config</code> that was previously pushed with the <code>binary\_buildback</code>, then you need to re-  push with the <code>hwc\_buildpack</code>, assuming that you're relying on the <code>WebAppServer.exe</code> provided by the Windows App Lifecycle. 

You will need to re-push using <code>cf push</code>. Your app will fail to restage if you try to <code>cf-restage</code>because you cannot change the app's buildpack to the <code>hwc\_buildpack</code> via <code>cf restage</code>. An app with the <code>hwc\_buildpack</code>, should not be pushed with the <code>-c</code> tag. A .NET app with a <code>Web.config</code> does not have to specify <code>-b</code>, since auto detection should work.

A Binary app should continue to use the <code>-c</code> flag. Apps that need custom start commands and require the <code>WebAppServer.exe</code> should have their start commands updated to reflect the path to <code>hwc.exe</code> provided by the HWC buildpack.


##<a id='upgrade-stemcell'></a> Upgrade the Windows Stemcell

1. Navigate to the Ops Manager Installation Dashboard.

1. Retrieve the stemcell by following the steps below for your IaaS.
    * For vSphere, you must build your own stemcell. See the [Building a Windows Stemcell](build-stemcell.html) topic for more information.
    * For AWS, navigate to the **Stemcells for PCF (Windows Server)** section of [Pivotal Network](https://network.pivotal.io/products/stemcells-windows-server).
    * For GCP and Azure, stemcells will be available soon on Pivotal Network.

1. Click the **PCF Runtime for Windows** tile. 

1. Within the **Settings** tab, click **Stemcell** on the left-hand navigation.

1. Click **Import Stemcell**.

1. Select the previously acquired stemcell and click **Open**.

1. Click **Installation Dashboard** to navigate back to the Ops Manager Installation Dashboard. 

1. Click **Apply Changes**.


