---
title: Upgrading Windows Cells 
owner: Greenhouse
---

<strong><%= modified_date %></strong>

This topic describes how to upgrade the PCF for Windows tile and the Windows stemcell.

##<a id='upgrade-tile'></a> Upgrade the PCF for Windows tile

The latest versions of your existing products will appear in your **Installation Dashboard**. Upgrade your product to the latest version by following these instructions.

1. Login to PCF Ops Manager.

1. Locate and download the product version you want to upgrade to by clicking on the green download icon.
    <%= image_tag ("existing_upgrade.png") %>

1. When the download is complete, refresh the page to use the product.

1. If necessary, configure the product.

1. In the Pending Changes view, click **Apply Changes**.

[deploy-windows]


##<a id='upgrade-stemcell'></a> Upgrade the Windows Stemcell

1. Login to PCF Ops Manager. 

1. Download Stemcell 1011.0 windows2012R2 from Pivotal Network. [LINK] 

pcf-windows-tile-stemcell.png

1. Click the "PCF Runtime for Windows" tile. 

1. Within the "Settings" tab, click Stemcell on the left-hand navigation.

1. Click **Import Stemcell**

1. Select the previously downloaded "Stemcell 1011.0 windows2012R2" and click **Open** 

1. Click **Installation Dashboard** to navigate back to the main Ops Manager Page. 

1. Click *Apply Changes**
