---
title: Upgrading Windows Cells
owner: Greenhouse
---

<strong><%= modified_date %></strong>

This topic describes how to upgrade the PCF Runtime for Windows tile and update the Windows stemcell.

##<a id='upgrade-tile'></a> Upgrade PCF Runtime for Windows

The latest versions of your existing products will appear in your **Installation Dashboard**. Upgrade your product to the latest version by following these instructions.

1. Navigate to the Ops Manager Installation Dashboard.

1. Locate and download the product version you want to upgrade to by clicking on the green download icon on the left-hand side of the screen.

1. When the download is complete, click **Apply Changes**.

1. If necessary, configure the product. For more information on configuring PCF Runtime for Windows, see the [Deploying PCF Runtime for Windows](http://docs.pivotal.io/pivotalcf/windows/deploy-windows.html) topic.

1. Locate the **Pending Changes** section on the right-hand side of the screen and click **Apply Changes**.

##<a id='upgrade-tile-notes'></a> Notes about Upgrading

### For a given app ...

If your app is a .NET app and has a `Web.config` then you need to push with the HWC buildpack if you're relying on the `WebAppServer.exe` provided by the Windows App Lifecycle. This `WebAppServer.exe` will be removed in a future version of Pivotal Cloud Foundry.

You need to repush your app with `cf push`. The app will fail to restage if you try to `cf restage` because you cannot change the app's buildpack to HWC buildpack.

### About the `-c` flag

If you previously pushed an app with the `-c` flag, and it is an app that needs the HWC buildpack, then you should stop using the `-c` flag. If it is a binary app, then continue to use it.

Apps that need custom start commands and require the `WebAppServer.exe` should have their start commands updated to reflect the path to `hwc.exe` provided by the HWC buildpack.

### Other Notes

There will be momentary downtime unless you do a blue/green deploy.

You don't strictly need to specify `-b` if you are pushing a .NET app with a Web.config, auto detect should work, but it is recommended, as staging occurs faster.

`cf restart` will work for all apps (no new droplet is created so old apps are not changed).

##<a id='upgrade-stemcell'></a> Upgrade the Windows Stemcell

1. Navigate to the Ops Manager Installation Dashboard.

1. Retrieve the stemcell by following the steps below for your IaaS.
    * For vSphere, you must build your own stemcell.
    * For AWS, GCP, and Azure, navigate to the **Stemcells for PCF (Windows Server)** section of [Pivotal Network](https://network.pivotal.io/products/stemcells-windows-server).

1. Click the **PCF Runtime for Windows** tile.

1. Within the **Settings** tab, click **Stemcell** on the left-hand navigation.

1. Click **Import Stemcell**.

1. Select the previously acquired Stemcell and click **Open**.

1. Click **Installation Dashboard** to navigate back to the Ops Manager Installation Dashboard.

1. Click *Apply Changes**.
